apiVersion: v1
kind: ConfigMap
metadata:
  name: nodejs-devfile
  namespace: ${NAMESPACE}
data:
  devfile.yaml: |
    schemaVersion: 2.2.0
    metadata:
      name: nodejs-hello-world
      displayName: Node.js Hello World
      description: Simple Node.js application for testing IPv6
      tags: ["NodeJS", "Express", "IPv6"]
      projectType: "nodejs"
    components:
      - name: nodejs
        container:
          image: registry.access.redhat.com/ubi8/nodejs-18:latest
          memoryLimit: 1024Mi
          mountSources: true
          endpoints:
            - name: http-3000
              targetPort: 3000
    commands:
      - id: install
        exec:
          component: nodejs
          commandLine: npm install
          workingDir: ${PROJECT_SOURCE}
      - id: run
        exec:
          component: nodejs
          commandLine: npm start
          workingDir: ${PROJECT_SOURCE}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: python-devfile
  namespace: ${NAMESPACE}
data:
  devfile.yaml: |
    schemaVersion: 2.2.0
    metadata:
      name: python-hello-world
      displayName: Python Hello World
      description: Simple Python application for testing IPv6
      tags: ["Python", "Flask", "IPv6"]
      projectType: "python"
    components:
      - name: python
        container:
          image: registry.access.redhat.com/ubi8/python-39:latest
          memoryLimit: 1024Mi
          mountSources: true
          endpoints:
            - name: http-8080
              targetPort: 8080
    commands:
      - id: install
        exec:
          component: python
          commandLine: pip install -r requirements.txt
          workingDir: ${PROJECT_SOURCE}
      - id: run
        exec:
          component: python
          commandLine: python app.py
          workingDir: ${PROJECT_SOURCE}
